{% load static %}
<html>
<head>
  <title>Individual Polar Bear Tracking</title>
 
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <style>
     #mapid { height: 350px; }
   </style>
</head>
<body>
 
    <h1>Polar Bear Tagged for Tracking</h1>
    <p>Bear: 
        <b>{{bear.bearID }}</b> | 
        {{bear.pTT_ID}} | 
         {{ bear.capture_lat}} | 
        {{bear.capture_long}}	| 
        {{bear.sex}} |
         {{ bear.age_class}} |
        {{bear.ear_applied}}	
     </p>
     <div id="mapid"></div>
     <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from 
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <script type = "text/javascript">
        var mymap = L.map('mapid').setView([{{ bear.capture_lat}}, {{bear.capture_long}}], 6 );

          accessToken: 'no-token',
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
       attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
       maxZoom: 18,
   }).addTo(mymap); 
   var taggingIcon = L.icon({ 
     iconUrl: "{% static 'images/placeholder-yellow.png' %} ", 
     iconSize: [35, 35] });
     var marker = L.marker([{{ bear.capture_lat }}, {{bear.capture_long }}], {icon: taggingIcon }).addTo(mymap);
   </script>
     <p>Sightings for this bear via Radio Device</p>
     {% for sighting in sightings %}
    <p>Bear: 
       <b>{{sighting.bear_id}}</b> with deploy_id:  
       {{sighting.deploy_id}} was picked up 
        {{ sighting.recieved}} at 
       {{sighting.latitude }}	latitude and 
       {{sighting.longitude }} longitude where the temperature was: 
        {{ sighting.temperature }} (although 0 represents an empty value)
    </p>
    {% endfor %}
</body>
</html>